In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("data/real_estate.csv")

In [4]:
df.drop_duplicates(keep = "first", inplace = True)

In [5]:
df["Area"] = [i[0] for i in df["Area"].str.split()]

In [6]:
df["Area"] = df["Area"].str.replace(",","")

In [7]:
df["Area"] = df["Area"].astype(float)

In [8]:
df["Area"]

0       1505.0
1       1100.0
2       1203.0
3       1402.0
4       1185.0
         ...
1037    1665.0
1038    1225.0
1039     677.0
1040    1254.0
1041    1608.0
Name: Area, Length: 815, dtype: float64

In [9]:
df.loc[df['Area-Type'] == 'Carpet Area', 'Area'] *= 1.5

In [10]:
df.drop("Area-Type",axis=1,inplace = True)

In [11]:
df["BHK"] = [i[0] for i in df["Title"].str.split()]

In [12]:
df["BHK"].unique()

array(['3', '2', '1', '5', '4', 'Builder', '6', 'Apartment', 'Studio',
       '30490', '3500', '4+', '3484', '1100', '4400', '4356', '4000',
       '5200', '4360', '2000', '1750', '2485', '2178', '2200', '1350'],
      dtype=object)

In [13]:
df.loc[df["BHK"].isin(['Builder','Apartment','Studio','30490', '3500', '3484', '1100', '4400', '4356', '4000','5200', '4360', '2000', '1750', '2485', '2178', '2200', '1350']),"BHK"]=np.nan

In [14]:
df[df["BHK"].isnull()]

,Title,Price,Area,BHK
56,"Builder Floor for Sale in Kodailbail, Mangalore",₹48 Lac,330.0,NaN
214,"Apartment for Sale in Kodailbail, Mangalore",₹75 Lac,1175.0,NaN
450,"Studio Apartment for Sale in Kadri Hills, Mang...",₹42 Lac,1147.5,NaN
517,"30490 Sq. ft Plot for Sale in Moodabidiri, Man...",1.20 Crore,30490.0,NaN
555,"3500 Sq.ft Plot for Sale in Kulai, Mangalore",52.50 Lakh,3500.0,NaN
664,"3484 Sqft Plot for Sale in Moodabidiri, Mangalore",22 Lakhs,3484.0,NaN
711,"1100 Sq.ft Plot for Sale in Puttur, Mangalore",20 Lakhs,1100.0,NaN
778,"4400 Sq.ft Plot for Sale in Moodabidiri, Manga...",30.80 Lakh,4400.0,NaN
798,4356 Sq. ft Plot for Sale in Mangalore Airport...,4 Lakhs,4356.0,NaN
802,"4000 Sqft Plot For Sale in B.C Road, Mangalore",66 Lakhs,4000.0,NaN
840,"5200 Sq. ft Plot for Sale in Derlakatte, Manga...",54 Lakhs,5200.0,NaN
851,"4360 Sq. ft Plot for Sale in Moodabidiri, Mang...",12.50 Lakh,4360.0,NaN
883,"2000 Sq. ft Plot for Sale in Urwa, Mangalore",40 Lakhs,2000.0,NaN
907,"1100 Sq.ft Plot for Sale in Puttur, Mangalore",15.40 Lakh,1100.0,NaN
908,"1750 Sq.ft Plot for Sale in Puttur, Mangalore",25.37 Lakh,1750.0,NaN
909,"2485 Sq.ft Plot for Sale in Kudupu, Mangalore",48.49 Lakh,2485.0,NaN
910,"2178 Sq.ft Plot for Sale in Kudupu, Mangalore",42.50 Lakh,2178.0,NaN
933,"2200 Sqft Plot for Sale in Puttur, Mangalore",30.80 Lakh,2200.0,NaN
934,"1350 Sqft Plot for Sale in Puttur, Mangalore",18.22 Lakh,1350.0,NaN

In [15]:
df["BHK"] = df["BHK"].replace("4+","6")

In [16]:
df["BHK"].unique()

array(['3', '2', '1', '5', '4', nan, '6'], dtype=object)

In [17]:
df["BHK"] = df["BHK"].fillna(0)

In [18]:
df["BHK"] = df["BHK"].astype(int)

In [19]:
df["BHK"]

0       3
1       2
2       2
3       3
4       2
       ..
1037    3
1038    2
1039    1
1040    2
1041    3
Name: BHK, Length: 815, dtype: int64

In [20]:
df["Location"] = [i[-2] for i in df["Title"].str.split()]

In [21]:
df = df[df["Location"] != "in"]

In [22]:
df["Location"] = df["Location"].replace(",","",regex = True)

In [74]:
df["Location"].unique()

array(['Bejai', 'Krishnapura', 'Surathkal', 'Hampankatta', 'Kavoor',
       'Kadri', 'Valenica', 'Nagar', 'Pandeshwar', 'Nantoor', 'Derebail',
       'Mary Hill', 'Padukodi', 'Road', 'Airport road', 'Jeppinamogaru',
       'Kulshekar', 'Pumpwell', 'Mannagudda', 'Moodabidri', 'Padil',
       'Bikarnakatta', 'Nanthoor', 'Kulai', 'Yeyyadi', 'Pachanady',
       'Bendoor', 'Urwa', 'Kodailbail', 'Chowk', 'Kottara', 'Kodalguttu',
       'Mangaladevi', 'Kodialbail', 'Bajpe', 'Konaje', 'Kankanady',
       'Derelakatai', 'Kuntikana', 'Kudroli', 'Bondel', 'Attavar',
       'Kulashekara', 'Bendoorwell', 'Balmatta', 'Maroli', 'Lalbagh',
       'Boloor', 'Gurupura', 'Mukka', 'Thokkttu', 'Chilimbi',
       'Subhashnagar', 'Car Street', 'Shiva bagh', 'Bunder', 'Matadakani',
       'Padavinangady', 'Ballalbagh', 'Junction', 'Ladyhill',
       'Mallikatte', 'hostel', 'Falnir', 'Alape', 'Kotekani', 'Ullal',
       'Vamanjoor', 'Bolar', 'Moodabidiri', 'Kaikamba', 'Alake',
       'Chilambi', 'Urva', 'Neermarga', 'Kinnigoli', 'Shaktinagar',
       'Mulki', 'Kapikad', 'Konchady', 'Kotekar', 'Valencia', 'Kodikal',
       'Puttur', 'Bantwal', 'Kuloor', 'Derlakatte', 'Kudupu', 'Kodiabail',
       'Karangalpady'], dtype=object)

In [83]:
df[df["Location"] == "Road"]

,Title,Price,Area,BHK,Location
18,"2 BHK Flat for Sale in Barebail Road, Mangalore",₹35 Lac,780.0,2,Road
33,"2 BHK Flat for Sale in Arya Samaj Road, Mangalore",₹65 Lac,1875.0,2,Road
42,"3 BHK Flat for Sale in Bejai New Road, Mangalore",₹70 Lac,1350.0,3,Road
270,"2 BHK Flat for Sale in Konchady Cross Road, Ma...",₹45 Lac,1160.0,2,Road
283,"2 BHK Flat for Sale in Bejai Kapikad Road, Man...",Call for Price,1140.0,2,Road
357,"3 BHK Flat for Sale in Konchady Cross Road, Ma...",₹50 Lac,1400.0,3,Road
374,"2 BHK Flat for Sale in Bejai Kapikad Road, Man...",₹1.05 Cr,1279.0,2,Road
384,"2 BHK Flat for Sale in Bejai Kapikad Road, Man...",₹26 Lac,850.0,2,Road
402,"2 BHK Flat for Sale in Bejai Kapikad Road, Man...",₹1.15 Cr,1345.0,2,Road
406,"2 BHK Flat for Sale in Balmatta Road, Mangalore",₹50 Lac,1000.0,2,Road
407,"2 BHK Flat for Sale in Bejai New Road, Mangalore",₹1.15 Cr,1345.0,2,Road
412,"4 BHK Flat for Sale in Bejai New Road, Mangalore",₹1.85 Cr,2237.0,4,Road
413,"3 BHK Flat for Sale in Bejai New Road, Mangalore",₹1.50 Cr,1740.0,3,Road
414,"3 BHK Flat for Sale in Bejai New Road, Mangalore",₹1.35 Cr,1589.0,3,Road
425,"2 BHK Flat for Sale in Bejai New Road, Mangalore",₹1.05 Cr,1279.0,2,Road
484,"3 BHK Flat for Sale in Kankanady Bypass Road, ...",₹1.08 Cr,1646.0,3,Road
485,"3 BHK Flat for Sale in Kankanady Bypass Road, ...",₹1.18 Cr,1831.0,3,Road
486,"4 BHK Flat for Sale in Kankanady Bypass Road, ...",₹2.08 Cr,2870.0,4,Road
488,"2 BHK Flat for Sale in Kankanady Bypass Road, ...",₹81.4 Lac,1224.0,2,Road
545,2 BHK 1010 Sqft Apartment for Sale in Bejai-Ka...,50.68 Lakh,1010.0,2,Road
548,1 BHK 680 Sqft Apartment for Sale in Bejai-Kap...,34.12 Lakh,680.0,1,Road
550,1 BHK 660 Sqft Apartment for Sale in Bejai-Kap...,33.11 Lakh,660.0,1,Road
558,3 BHK 1240 Sqft Apartment for Sale in Bejai-Ka...,62.22 Lakh,1240.0,3,Road
716,2 BHK 975 Sqft Apartment for Sale in Bejai-Kap...,48.92 Lakh,975.0,2,Road
802,"4000 Sqft Plot For Sale in B.C Road, Mangalore",66 Lakhs,4000.0,0,Road
826,"2 BHK 844 Sqft Apartment for Sale in B.C Road,...",34 Lakhs,844.0,2,Road

In [48]:
df.loc[df["Location"] == "Airport","Location"] = "Airport road"

In [73]:
df["Location"] = df["Location"].replace("Hills","Kadri")
df["Location"] = df["Location"].replace("Shivabaugh","Shiva bagh")
df["Location"] = df["Location"].replace("Kambla","Kadri")

In [37]:
df["Location"] = df["Location"].replace("Hill","Mary Hill")

In [44]:
df["Location"] = df["Location"].replace("road","Airport road")

In [52]:
df["Location"] = df["Location"].replace("Estate","Yeyyadi")

In [55]:
df["Location"] = df["Location"].replace("Street","Car Street")

In [80]:
df["Location"] = df["Location"].replace("Chowk","Kottara")